@use "variables" as *;

/* ===== Mixin ===== */
@mixin flex-column {
    display: flex;
    flex-direction: column;
    @content;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    @content;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
    @content;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
    @content;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
    @content;
}

/* ===== Example ===== */
// .vertical-centered-element {
//     @include flex-center-vert;
// }

// .horizontally-centered-element {
//     flex-direction: column;
//     @include flex-center-vert;
// }

// THIS IS THE MIXIN TEXT FOR THE MEDIAQUERY
@mixin layout($breakpoint) {
    // $breakpoint is simply a variable that can have several values as the argument
    @if $breakpoint==mobile {
        @media only screen and (min-width: 320px) {
            @content;
        }
    }
    @if $breakpoint==tablet {
        // if the argument == tablet, then it'll run the code below

        @media only screen and (min-width: 768px) {
            //regular CSS media query declaration

            @content;
            //resource for @content: https://sass-lang.com/documentation/at-rules/mixin#content-blocks
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
}

// THIS IS THE USE OF THE MIXIN
// .main {
//   background: red;
//   // normal styling code here

//   @include layout(tablet) {
//     background: green;
//     // responsive code for tablet viewport i.e. 768px
//   }

//   @include layout(desktop) {
//     background: blue;
//     // responsive code for desktop viewport i.e. 1024px
//   }
// }

@mixin testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
}
@mixin testimonial__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
}
