/* ============================================= */
/*                    COLORS                     */
/* ============================================= */
$black: rgb(36, 36, 41);
$white: rgb(248, 248, 248);
$gold: rgb(165, 137, 97);

/* ============================================= */
/*                    FONT                       */
/* ============================================= */
$font: Kanit, sans-serif;
