/* ============================================= */
/*                    COLORS                     */
/* ============================================= */
$black: #242429;
$white: rgb(248, 248, 248);
$gold: #a58961;
