@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ============================================= */
/*                    COLORS                     */
/* ============================================= */
/* ============================================= */
/*                    FONT                       */
/* ============================================= */
/* ===== Mixin ===== */
/* ===== Example ===== */
body {
  background-color: rgb(36, 36, 41);
}
@media only screen and (min-width: 1024px) {
  body {
    max-width: 80%;
    margin: auto;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  align-items: center;
  margin: 0.625rem 0.625rem 0 0.625rem;
  padding: 0 0.625rem 0.9375rem;
  background-color: rgb(248, 248, 248);
  align-items: center;
  margin: 0.625rem 0.625rem 0 0.625rem;
  padding: 0 0.625rem 0.9375rem;
}
@media only screen and (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .headline-container, .headline-text, .hero-img {
    flex-basis: 50%;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 768px) {
  .headline-container {
    width: 100%;
  }
}

.hero-headline {
  font-family: Kanit, sans-serif;
  font-size: 1.875rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-headline {
    font-size: 3.125rem;
  }
}

#headline-text {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #headline-text {
    font-size: 1.5625rem;
  }
}

.navbar__logo--tablet {
  display: none;
}
@media only screen and (min-width: 768px) {
  .navbar__logo--tablet {
    display: block;
    padding-right: 0.625rem;
    fill: rgb(248, 248, 248);
  }
}

.hero-content__img {
  width: 80%;
  background-color: rgb(248, 248, 248);
  align-items: center;
  margin: 0.625rem 0.625rem 0 0.625rem;
  padding: 0 0.625rem 0.9375rem;
}
@media only screen and (min-width: 768px) {
  .hero-content__img {
    max-width: 80%;
  }
}

.locations__img {
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .locations__img {
    max-width: 40%;
  }
}

.testimonial__card-img {
  margin-top: 0.625rem;
}

#navbar {
  overflow: hidden;
  background-color: rgb(36, 36, 41);
  display: flex;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 768px) {
  .navbar__logo {
    justify-content: center;
  }
}

#navbar__logo-text {
  color: rgb(248, 248, 248);
  font-size: 1.625rem;
  font-family: Kanit, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 0.625rem;
}

#navbar__logo-text em {
  font-weight: 200;
}

.navbar__menu {
  fill: rgb(248, 248, 248);
  padding-right: 1.875rem;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + .hero-content {
  padding-top: 60px;
}

.testimonial {
  background-color: rgb(165, 137, 97);
  margin: 0 0.625rem;
  font-family: Kanit, sans-serif;
  padding: 0.625rem;
  color: rgb(248, 248, 248);
}
@media only screen and (min-width: 768px) {
  .testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
  }
}

.testimonial__card-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .testimonial__card-first {
    max-width: 50%;
    border-right: 1px solid black;
    padding-right: 0.625rem;
  }
}

.testimonial__card-second {
  display: none;
  padding-left: 0.625rem;
  border-right: 1px solid black;
}
@media only screen and (min-width: 768px) {
  .testimonial__card-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    border: none;
    padding-right: 0.625rem;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonial__card-second {
    border-right: 1px solid black;
  }
}

.testimonial__card-third {
  display: none;
  max-width: 34.375rem;
  padding-left: 0.625rem;
}
@media only screen and (min-width: 1024px) {
  .testimonial__card-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
  }
}

.testimonial__card-text {
  color: rgb(248, 248, 248);
}

q:before,
q:after {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 800;
  position: relative;
  color: rgb(36, 36, 41);
}

q:before {
  transform: rotate(4deg);
}

q:after {
  top: 0.05em;
  transform: rotate(-4deg);
}

.testimonial__card-img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.testimonial__card-name {
  font-size: 0.875rem;
}

.pricing {
  background-color: rgb(248, 248, 248);
  margin: 0 0.625rem;
  color: rgb(36, 36, 41);
}

.pricing__header {
  margin: 0;
  text-align: center;
  font-family: Kanit, sans-serif;
  font-size: 1.875rem;
  line-height: 0.8;
  text-transform: uppercase;
  padding: 0.625rem;
}
@media only screen and (min-width: 768px) {
  .pricing__header {
    font-size: 3.75rem;
  }
}

.pricing__prices--flexed {
  display: flex;
  justify-content: space-evenly;
  font-family: Kanit, sans-serif;
  line-height: 1.8;
  width: 100%;
}

.pricing__list {
  padding: 0;
  font-size: 1.25rem;
}

.pricing__dollars {
  padding: 0;
  font-size: 1.25rem;
  color: rgb(122, 87, 39);
}

li {
  list-style: none;
}

.booking {
  background-color: rgb(248, 248, 248);
  margin: 0 0.625rem;
  font-family: Kanit, sans-serif;
  padding: 0.625rem;
  color: rgb(248, 248, 248);
  text-transform: uppercase;
  text-align: center;
}

.booking__button {
  cursor: pointer;
  background-color: rgb(165, 137, 97);
  color: rgb(248, 248, 248);
  border: none;
  height: 3.125rem;
  width: 11.875rem;
  font-family: Kanit, sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  box-shadow: 3px 3px 3px rgb(36, 36, 41);
}

.booking__button:active {
  box-shadow: inset 3px 3px 3px rgb(36, 36, 41);
}

.locations {
  background-color: rgb(165, 137, 97);
  margin: 0 0.625rem;
  font-family: Kanit, sans-serif;
  padding: 0.625rem;
  color: rgb(248, 248, 248);
  text-transform: uppercase;
  text-align: center;
}

.locations__container {
  display: flex;
  flex-direction: row;
}

.locations__shop-hours {
  fill: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
}

.locations__calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .locations__calendar {
    max-width: 400px;
  }
}

.locations_calendar-container {
  display: flex;
  flex-direction: row;
}

.locations__day {
  padding: 0 18px;
  background-color: rgb(248, 248, 248);
  color: rgb(36, 36, 41);
  overflow: hidden;
  width: 6rem;
  outline: 1px solid rgb(36, 36, 41);
}
.locations__day p {
  margin: 0;
}

.active,
.locations_calendar:hover {
  background-color: #ccc;
}

/*# sourceMappingURL=styles.css.map */
