@use "../utilities/variables" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;

.navbar__logo--tablet {
    display: none;
    @include layout(tablet) {
        display: block;
        padding-right: rem(10);
        fill: $white;
    }
}

.hero-content__img{
    width: 80%;
    background-color: $white;
    align-items: center;
    margin: rem(10) rem(10) 0 rem(10);
    padding: 0 rem(10) rem(15);
    @include layout(tablet){
        max-width: 80%;
    }
}
.locations__img {
    max-width: 100%;
    @include layout(tablet) {
        max-width: 40%;
    }
}
.testimonial__card-img {
    margin-top: rem(10);
}