@use "../utilities/variables" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;

.navbar__logo--tablet {
    display: none;
    @include layout(tablet) {
        display: block;
        padding-right: rem(10);
        fill: $white;
    }
}

.hero-content__img,
.locations__img {
    max-width: 100%;
}
