@use "../utilities/variables" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;
@use "../base/typography" as *;

.locations {
    background-color: $gold;
    margin: 0 rem(10);
    font-family: $font;
    padding: rem(10);
    color: $white;
    text-transform: uppercase;
    text-align: center;
}

.locations__shop-hours {
    fill: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.locations__calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include layout(tablet) {
        max-width: 400px;
    }
}

.locations_calendar-container {
    display: flex;
    flex-direction: row;
}

.locations__day {
    padding: 0 18px;
    background-color: $white;
    color: $black;
    overflow: hidden;
    width: rem(96);
    outline: 1px solid $black;
    & p {
        margin: 0;
    }
}

.active,
.locations_calendar:hover {
    background-color: #ccc;
}
