@use "../utilities/variables" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;
@use "../base/typography" as *;

.pricing {
    background-color: $white;
    margin: 0 rem(10);
    color: $black;
}
.pricing__header {
    margin: 0;
    text-align: center;
    font-family: $font;
    font-size: rem(30);
    line-height: 0.8;
    text-transform: uppercase;
    padding: rem(10);
}
.pricing__prices--flexed {
    display: flex;
    justify-content: space-around;
    font-family: $font;
    line-height: 1.8;
    width: 100%;
}
.pricing__dollars {
    padding-right: rem(10);
    color: $gold;
}
li {
    list-style: none;
}
