@use "../utilities/variables" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;
@use "../base/typography" as *;

.testimonial {
    background-color: $gold;
    margin: 0 rem(10);
    font-family: $font;
    padding: rem(10);
    color: $white;

    @include layout(tablet) {
        @include testimonial__row;
    }
}
.testimonial__card-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(20);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.8;
    text-align: center;
    border-right: 1px solid black;
    @include layout(tablet) {
        max-width: 50%;
    }
}
.testimonial__card-second {
    display: none;
    padding-left: rem(10);
    border-right: 1px solid black;
    @include layout(tablet) {
        @include testimonial;
    }
}
.testimonial__card-third {
    display: none;
    max-width: rem(550);
    padding-left: rem(10);

    @include layout(desktop) {
        @include testimonial;
    }
}

.testimonial__card-text {
    color: $white;
    // width: 80%;
}

q:before,
q:after {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 800;
    position: relative;
    color: $black;
}

q:before {
    transform: rotate(4deg);
}

q:after {
    top: 0.05em;
    transform: rotate(-4deg);
}

.testimonial__card-img {
    height: rem(32);
    width: rem(32);
    border-radius: 50%;
}
.testimonial__card-name {
    font-size: rem(14);
}
